[submodule "user-service"]
	path = user-service
	url = git@github.com:lucasholter00/user-service.git
[submodule "appointment-service"]
	path = appointment-service
	url = git@github.com:lucasholter00/appointment-service.git
[submodule "clinic-service"]
	path = clinic-service
	url = git@github.com:lucasholter00/clinic-service.git
[submodule "dentist-api"]
	path = dentist-api
	url = git@github.com:lucasholter00/dentist-api.git
[submodule "monitor-service"]
	path = monitor-service
	url = git@github.com:lucasholter00/monitor-service.git
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:lucasholter00/notification-service.git
